$colors: (
    "white": #ffffff,

    "gray10": #111122,
    "gray9": #202037,
    "gray8": #2f2f46,
    "gray7": #585874,
    "gray6": #7a7a94,
    "gray5": #9999ad,
    "gray4": #b9b9cb,
    "gray3": #dbdbe5,
    "gray2": #f0f0f5,
    "gray1": #f9f9fb,
    "red10": #610316,
    "red9": #8a041a,
    "red8": #ab091e,
    "red7": #cf1124,
    "red6": #df202d,
    "red5": #ef4e4e,
    "red4": #f86a6a,
    "red3": #ff9b9b,
    "red2": #ffbdbd,
    "red1": #ffe3e3,
);

@function hexToRgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    @if $colors {
        @each $key, $value in $colors {
            --#{$key}: #{$value};
            --#{$key}-rgb: #{hexToRgb($value)};
        }
    }
}

@font-face {
    font-family: "Lifehack Sans";
    src: url("../fonts/LifehackSans/LifehackSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Comforter";
    src: url("../fonts/Comforter/Comforter-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Buyan";
    src: url("../fonts/Buyan/BuyanThin.ttf");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Buyan";
    src: url("../fonts/Buyan/BuyanRegular.ttf");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Buyan";
    src: url("../fonts/Buyan/BuyanBold.ttf");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

$montserrat_weights: (
    "Thin": 100,
    "ExtraLight": 200,
    "Light": 300,
    "Regular": 400,
    "Medium": 500,
    "SemiBold": 600,
    "Bold": 700,
    "ExtraBold": 800,
    "Black": 900,
);

@each $key, $value in $montserrat_weights {
    @font-face {
        font-family: Montserrat;
        src: url("../fonts/Montserrat/static/Montserrat-#{$key}.ttf");
        font-weight: $value;
        font-style: normal;
        font-stretch: normal;
        font-variant: normal;
    }

    @font-face {
        font-family: Montserrat;
        src: url("../fonts/Montserrat/static/Montserrat-#{$key}Italic.ttf");
        font-weight: $value;
        font-style: italic;
        font-stretch: normal;
        font-variant: normal;
    }
}

//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Thin.ttf");
//    font-weight: 100;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-ThinItalic.ttf");
//    font-weight: 100;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
//    font-weight: 200;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf");
//    font-weight: 200;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Light.ttf");
//    font-weight: 300;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-LightItalic.ttf");
//    font-weight: 300;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
//    font-weight: 400;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-RegularItalic.ttf");
//    font-weight: 400;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
//    font-weight: 500;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-MediumItalic.ttf");
//    font-weight: 500;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
//    font-weight: 600;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf");
//    font-weight: 600;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
//    font-weight: 600;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf");
//    font-weight: 600;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
