$colors: (
    "white": #ffffff,

    "black": #111111,

    "gray1": #676767,
    "gray2": #1c1c1c,

    "red": #ca1500,
);

@function hexToRgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    @if $colors {
        @each $key, $value in $colors {
            --#{$key}: #{$value};
            --#{$key}-rgb: #{hexToRgb($value)};
        }
    }
}

@font-face {
    font-family: "Lifehack Sans";
    src: url("../fonts/LifehackSans/LifehackSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Comforter";
    src: url("../fonts/Comforter/Comforter-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Buyan";
    src: url("../fonts/Buyan/BuyanThin.ttf");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Buyan";
    src: url("../fonts/Buyan/BuyanRegular.ttf");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Buyan";
    src: url("../fonts/Buyan/BuyanBold.ttf");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

$montserrat_weights: (
    "Thin": 100,
    "ExtraLight": 200,
    "Light": 300,
    "Regular": 400,
    "Medium": 500,
    "SemiBold": 600,
    "Bold": 700,
    "ExtraBold": 800,
    "Black": 900,
);

@each $key, $value in $montserrat_weights {
    @font-face {
        font-family: Montserrat;
        src: url("../fonts/Montserrat/static/Montserrat-#{$key}.ttf");
        font-weight: $value;
        font-style: normal;
        font-stretch: normal;
        font-variant: normal;
    }

    @font-face {
        font-family: Montserrat;
        src: url("../fonts/Montserrat/static/Montserrat-#{$key}Italic.ttf");
        font-weight: $value;
        font-style: italic;
        font-stretch: normal;
        font-variant: normal;
    }
}

//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Thin.ttf");
//    font-weight: 100;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-ThinItalic.ttf");
//    font-weight: 100;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
//    font-weight: 200;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf");
//    font-weight: 200;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Light.ttf");
//    font-weight: 300;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-LightItalic.ttf");
//    font-weight: 300;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
//    font-weight: 400;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-RegularItalic.ttf");
//    font-weight: 400;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
//    font-weight: 500;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-MediumItalic.ttf");
//    font-weight: 500;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
//    font-weight: 600;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf");
//    font-weight: 600;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
//    font-weight: 600;
//    font-style: normal;
//    font-stretch: normal;
//    font-variant: normal;
//}
//
//@font-face {
//    font-family: Montserrat;
//    src: url("../fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf");
//    font-weight: 600;
//    font-style: italic;
//    font-stretch: normal;
//    font-variant: normal;
//}
